*.py[cod]

# C extensions
*.so

*.svn
# Packages
*.egg
*.egg-info
dist
.svn
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt
*.sdx

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings

#PyCharm
.idea